<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" href="/signin">LEARNING DEV.MUNDO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <ng-container *ngIf="authService.loggedIn();">
            <li class="nav-item">
              <a class="nav-link" routerLink="/task" routerLinkActive="active">Modulos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/profile" routerLinkActive="active">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/private" routerLinkActive="active">Tareas Calificadas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/newTask" routerLinkActive="active">Tareas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/students-grades" routerLinkActive="active">Examenes Calificados</a>
            </li>
          </ng-container>
        </ul>
        <ul class="navbar-nav ml-auto">
          <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
            <li class="nav-item">
              <a class="nav-link" routerLink="/signin" routerLinkActive="active">Ingresar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/signup" routerLinkActive="active">Crear Usuario</a>
            </li>
          </ng-container>
          <ng-template #loggedIn>
            <li class="nav-item">
              <a class="nav-link" style="cursor: pointer;" (click)="authService.logout()">
                Cerrar cuenta
              </a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container p-5">
  <router-outlet></router-outlet>
</div>